.navbarContainer {
    width: 100%;
    height: 15vh;
    background: no-repeat;
    background-size: 100%;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    padding: 10px;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
}

.text {
    text-shadow: 2px 1px 3px white, 0 0 1em white;
}
