.container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.asteroidContainer {
    /*margin: 15px;*/
    /*border: 1px solid;*/
    width: 250px;
}

.date {
    margin-bottom: 10px;
}

.descriptionContainer {
    display: flex;
}

.description {
    margin-left: 10px;
}

.unitsImg {
    vertical-align: middle;
}
