.container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.asteroidContainer {
    /*margin: 15px;*/
    /*border: 1px solid;*/
    width: 250px;
}

.name {
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bolder;
}

.name:hover {
    text-shadow: 1px 0 0 #fcfc02;
}

.descriptionContainer {
    display: flex;
}

.description {
    margin-left: 10px;
}

.unitsImg {
    vertical-align: middle;
}
